@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #151320;
  height: 100vh;
  font-family: 'Press Start 2P', sans-serif;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  overflow: hidden;
  width: 100%;
  background: none !important;
}

.nav__logo {
  display: flex;
}

.nav__logo--img {
  font-weight: bold;
  padding-left: 10rem;
  color: #ea4f4c;
  text-decoration: none;
  font-size: 2rem;
}

.nav__menu {
  display: flex;
  list-style-type: none;
  padding: 4rem;
  gap: 3rem;
}

.nav__item {
  opacity: 1;
  list-style-type: none;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.nav__link:link,
.nav__link:active,
.nav__link:visited {
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  text-decoration: none;
  transition-property: transform;
  color: white;
  transition: 0.5s color ease-in-out;
}

.nav__link:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 200%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  transform: translateY(-5px);
}

.nav__link:hover:before,
.nav__link:active:before,
.nav__link:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

/* Cards */
.cards--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 4rem 10rem;
  margin: 1rem auto;
}

.card {
  background-color: #1c1b29;
  border-radius: 2rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.18);
  min-height: 50rem;
}

.card__img {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__img img {
  min-height: 30rem;
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.card__img:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.card1 > .card__img:after {
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card2 > .card__img:after {
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}

.card3 > .card__img:after {
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}

.card__details {
  padding: 2rem;
  text-align: center;
}

.card__details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  margin: 1.5rem 0 2.5rem 0;
  overflow-wrap: break-word;
  text-align: center;
  line-height: 3rem;
}

@media screen and (max-width: 1400px) {
  .cards--container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .card {
    width: 40rem;
  }
}

@media screen and (max-width: 1000px) {
  .cards--container {
    grid-template-columns: 30rem;
    justify-content: center;
  }
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #222;
  height: 4rem;
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
}

.copyright .linkedin-link:link,
.copyright .linkedin-link:visited {
  text-decoration: none;
  color: #fff;
}

/* Button */

.button {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 2rem;
}

.button a {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 2rem 4rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: drop-shadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.button a:active {
  top: 1rem;
  background-color: #f78900;
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: '';
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  bottom: -1.5rem;
  left: -0.5rem;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.bouncy {
  position: relative;
}
.bouncy1 {
  animation: bouncy 4s infinite linear;
}
.bouncy2 {
  animation: bouncy 4.2s infinite linear;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
