@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151320;
  height: 100vh;
  font-family: 'Press Start 2P', sans-serif;
}

nav {
  background: none !important;
}
nav li {
  margin-left: 3em;
  margin-right: 3em;
  text-transform: uppercase;
}
nav li a {
  transition: 0.5s color ease-in-out;
}

.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  /* text-transform: uppercase; */
  overflow: hidden;
  width: 100%;
}
.navigationWrapper .logoWrapper {
  display: flex;
}
.navigationWrapper .logoWrapper .logo {
  font-weight: bold;
  padding-left: 100px;
  color: #ea4f4c;
  text-decoration: none;
}
.navigationWrapper .navigation {
  display: flex;
  list-style-type: none;
  padding: 40px;
}
.navigationWrapper .navigation li {
  opacity: 1;
  list-style-type: none;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navigationWrapper .navigation .parent {
  padding: 0 10px;
  cursor: pointer;
}

.hoverable {
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  text-decoration: none;
  transition: 0.3s;
  transition-property: transform;
  color: white;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 200%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
  transform: translateY(-5px);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-gap: 50px 90px;
  padding: 40px;
}
.card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  width: 25rem;
}
.container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
img {
  height: 15rem;
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
.card1 > .container:after {
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}
.card2 > .container:after {
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}
.card3 > .container:after {
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.details {
  padding: 20px 20px;
  text-align: center;
}
.details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 15px 0;
  overflow-wrap: break-word;
  text-align: center;
  line-height: 35px;
}

.details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

footer {
  position: sticky;
  width: 100%;
  background: #222;
  height: 40px;
  margin-top: 69px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright {
  color: #ffffff;
  font-size: 1rem;
  /* padding: 0 3.5rem; */
  /* margin-top: 4rem; */
  /* color: #918581; */
}
.copyright .linkedin-link:link,
.copyright .linkedin-link:visited {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}

/* Button */

.button {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 20px 40px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: '';
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.bouncy {
  position: relative;
}
.bouncy1 {
  animation: bouncy 4s infinite linear;
}
.bouncy2 {
  animation: bouncy 4.2s infinite linear;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

/* @media (min-width: 768px) {
  
} */
